<hr>
<h1>{{title}}</h1>
<hr>
<input [(ngModel)]="title" placeholder="Enter a title">

<button (click)="veranderTitel()">Verander de titel</button>

<hr>

<!-- Dit is een html comment -->
<!-- Dit wordt wel de emmet notatie genoemd-->
<!-- table>thead>tr>th*4>-->
<table>
  <thead>
  <tr>
    <th>ID:</th>
    <th>Name:</th>
    <th>Logo:</th>
    <th>Score:</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let f of frameworks">
    <td>{{f.id}}</td>
    <td>{{f.name}}</td>
    <td><img
      [src]="f.logo"
      alt="logo framework"></td>
    <td>{{f.score}}</td>
  </tr>
  </tbody>
</table>
<hr>
<button (click)="addFramework()">Voeg framework toe</button>
<hr>
<p>{{title}}</p>
<p> Lowercase pipe: {{title | lowercase  }}</p>
<p> Uppercase pipe: {{title | uppercase  }}</p>
<p> Titlecase pipe: {{title | titlecase  }}</p>
<p>{{now | date :'hh-mm-ss' }}</p>
<p>{{ 1234567.890 | euro }}</p>
<hr>
